<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome to Your Dashboard, {{ current_user.username }}!</h1>
    <ul>
        <li>Website Link Count: {{ dashboard.website_link_count }}</li>
        <li>DMCA Takedowns Sent: {{ dashboard.dmca_takedowns_sent }}</li>
        <li>DMCA Takedowns Successful: {{ dashboard.dmca_takedowns_successful }}</li>
        <li>Money Saved: ${{ dashboard.money_saved }}</li>
    </ul>
</body>
</html>
